footer {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

footer h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.footerDesc {
    color: white;
}

.shortLinkHeading {
    color: #26d48c;
}

.topOfHeader {
    display: flex;
    gap: 1rem;
    padding-bottom: 0rem !important;
    padding-top: 2rem !important;
}

.footerLinks a {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.footerContactUs i.fa-solid {
    background: none;
    width: none;
}

.footerLinks a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.topOfHeader {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footerLastLink a {
    /* border-bottom: 1px solid; */
}

@media(max-width:1090px) {

    .topOfHeader {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*  */

    .footerContactUs {
        align-items: center;
    }

    .shortLinks {
        align-items: center;
    }
}

p.footerDesc {
    width: 17rem;
    font-size: 13px;
}

.footerFoot {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    color: white;
    border-top: 2px solid #26d48c;
}

.footerFoot span {
    color: #26d48c;
}

#logoOfFooter {
    color: white;
    padding-left: 2rem;
}

#logoOfFooter span {
    color: #26d48c;
}

footer h1 {
    font-size: 28px;
}

.shortLinks {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    font-size: 14px !important;
    align-items: baseline;
}

.footerContactUs {
    width: 17rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerLinks.footerLastLink {
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-size: 14px !important;
    justify-content: flex-end;
    align-items: baseline;
}

.footerContactUs i.fa-solid {
    background: none;
    padding: 10px;
}

hr {
    background: blue !important;
    width: 100%;
    height: 2px;
    margin-top: -15px;
    opacity: 1;
}

#footerContainer .socialIcon {
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.topOfHeader .fa-facebook-f {
    padding-right: 13px !important;
    padding-left: 10px !important;
    padding-top: 7px !important;
}

.aOfHeader .fa-brands:hover {
    background: #26d48c !important;
}

.aOfHeader .fa-instagram {
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 7px;
    padding-bottom: 2rem !important;
}

.footerContactUs i {
    color: #26d48c !important;
}

.shortLinks i {
    color: #26d48c !important;
    background: none;
    display: flex;
    margin: 0;
    padding: 9px;
    padding-right: 0px;
    padding-left: 0px;
    /* padding-bottom: 0px !important; */
}

.aOfHeader .fa-linkedin {
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 7px;
    padding-bottom: 2rem !important;
}

@media(max-width:700px) {
    .topOfHeader {
        /* display: grid;
        grid-template-columns: repeat(1, 1fr) !important; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p.footerDesc {
        width: 12rem;
    }

}