@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');

.info {
    background-color: #26d48c;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;    
}

.info.container-fluid {
    padding-right: 5rem;
    padding-left: 5rem;
}

.number {
    color: blue;
    font-size: 2.5rem;
    font-weight: bold;
}

.desc {
    color: white;
    font-weight: bold;
    /* font-size: 1.5rem; */
}

.element{
    display: flex;
    align-items: center;
    gap: 1rem;
}


@media(max-width:1040px){
    .info{
        display: flex;
        flex-direction: column;
    }
}