.owl-carousel.testimonial-carousel.wow.fadeIn {
    display: flex;
}

#TestimonialDiv .carousel-indicators button {
    background: gray;
}

#TestimonialDiv a.carousel-control-next {
    display: none;
}

#TestimonialDiv a.carousel-control-prev {
    display: none;
}

#TestimonialDiv .carousel-indicators .active {
    padding-left: 2rem;
    background: blue;
    border-radius: 2rem;
}

#TestimonialDiv i.fas.fa-star.me-1.text-primary {
    padding: 0;
}

.testimonial-item h4 {
    color: #26d48c !important;
}

h1 {
    font-weight: bold;
}


h5.text-primary {
    color: blue !important;
}


@media(max-width:1400px) {
    #TestimonialDiv #thirdIndvTest {
        display: none;
    }
}

@media(max-width:995px) {
    #TestimonialDiv #secondIndvTest {
        display: none;
    }
}